<!DOCTYPE html>
<html lang ="en">
  <head>
    <h2 class="mx-auto text-primary" style="width: 500px;">Welcome To Your Flick Pick Party!</h2><br>
    
    <%# <div class="text-center pb-3 text-primary">
      <h5>Party: <%= @party.id %></h5>
    </div>  
    <div class="text-center pb-3 text-primary">
      <h4 class="text-decoration-underline">Party Access Code:</h4><br>
      <h5><%= @party.access_code %></h5>
    </div>
  </head>
</html>
      